In [1]:
import pandas as pd

df = pd.read_excel('user_data.xlsx')
display(df)

  ユーザーID    年齢   住所 血液型
0     佐藤  21.0  東京都   O
1     斉藤  30.0  埼玉県   A
2     鈴木  45.0  岐阜県  AB
3     田中  16.0  大阪府   O