In [20]:
import pandas as pd

df = pd.read_excel('user_data.xlsx')
display(df)

ValueError: Excel file format cannot be determined, you must specify an engine manually.

In [17]:
df.loc[0:2,['ユーザーID','住所']]

  ユーザーID   住所
0     佐藤  東京都
1     斉藤  埼玉県
2     鈴木  岐阜県

In [18]:
df[(df['血液型'] == 'O')&(df['年齢'] >= 20)]

  ユーザーID    年齢   住所 血液型
0     佐藤  21.0  東京都   O