In [22]:
import pandas as pd

df = pd.read_excel('user_data.xlsx')
display(df)

  ユーザーID    年齢   住所 血液型  レベル    ポイント
0     佐藤  21.0  東京都   O  6.0  2900.0
1     斉藤  30.0  埼玉県   A  7.0  3400.0
2     鈴木  45.0  岐阜県  AB  5.0  2500.0
3     田中  16.0  大阪府   O  9.0  5100.0

In [23]:
df.loc[0:2,['ユーザーID','住所']]

  ユーザーID   住所
0     佐藤  東京都
1     斉藤  埼玉県
2     鈴木  岐阜県

In [24]:
df[(df['血液型'] == 'O')&(df['年齢'] >= 20)]

  ユーザーID    年齢   住所 血液型  レベル    ポイント
0     佐藤  21.0  東京都   O  6.0  2900.0

In [25]:
df['レベル'] * df['ポイント']

0    17400.0
1    23800.0
2    12500.0
3    45900.0
dtype: float64

In [28]:
df['新ポイント'] = df['レベル'] * df['ポイント']

In [29]:
display(df)

  ユーザーID    年齢   住所 血液型  レベル    ポイント    新ポイント
0     佐藤  21.0  東京都   O  6.0  2900.0  17400.0
1     斉藤  30.0  埼玉県   A  7.0  3400.0  23800.0
2     鈴木  45.0  岐阜県  AB  5.0  2500.0  12500.0
3     田中  16.0  大阪府   O  9.0  5100.0  45900.0